# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Ignore environment variables
.env
proxies.txt
backend/api.json

# Ignore API credentials and sensitive data
api.json

# Ignore logs and database files
*.log
*.sqlite3
*.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo
